.sidebarRow {
  display: flex;
  align-items: center;
}

.sidebarRow_icon {
  padding: 10px;
  color: gray;
  font-size: large !important;
}

.sidebarRow_title {
  flex: 1;
  padding: 6px;
  margin-left: 10px;
  font-weight: 450;
}

.sidebarRow:hover > .sidebarRow_title {
  font-weight: bold;
}
